<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: head">...</div>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">[Static.proto] ...</div>
<div id="layout-content" class="container">
    <div class="panel panel-default">
        <div class="panel-heading" th:text="${subject.getTitle()}">
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr class="header">
                    <th class="col-sm-2">Username</th>
                    <th class="col-sm-9">Content</th>
                    <th>Action</th>
                </tr>
                <tr th:each="message : ${page}">
                    <th th:text="${message.getUser().getName()}"></th>
                    <td th:text="${message.getContent()}"></td>
                    <td th:with="href='/message/delete/'">
                        <form method="post" th:action="@{${href} + ${message.getId()}}"
                              th:if="${message.getUser().getName() == currentUser || deleteMessages}">
                            <input type="hidden" name="subjectId" th:value="${subject.getId()}" required />
                            <a onclick="$(this).parent().submit()" style="cursor: pointer"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </form>
                    </td>
                </tr>
            </table>
            <ul class="pagination" th:if="${page.totalPages > 0}">
                <li th:if="${page.hasPrevious()}">
                    <a th:href="@{/(page=${page.number-1},size=${page.size})}">Previous</a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                    <li th:if="${page.number == i}" class="active"><a href="#">[[${i}+1]]</a></li>
                    <li th:unless="${page.number == i}">
                        <a th:href="@{/(page=${i},size=${page.size})}">[[${i}+1]]</a>
                    </li>
                </th:block>
                <li th:if="${page.hasNext()}">
                    <a th:href="@{/(page=${page.number+1},size=${page.size})}">Next</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form method="post" action="#" th:action="@{'/message/create/' + ${subject.getId()}}" th:object="${messageForm}">
                <div class="form-group">
                    <div class="col-sm-11">
                        <input th:field="*{content}" class="form-control"
                               placeholder="Enter message" autofocus="autofocus" required formnovalidate/>
                        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Title error</div>
                    </div>
                    <div class="col-sm-1">
                        <input class="btn btn-primary" type="submit" th:value="#{message.button.send}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">[Static.proto] ...</div>
</body>
</html>